TLS: TLSv1.2
AUT: SERVIDOR
CIPHERSUITES: TLS_RSA_WITH_AES_128_CBC_SHA256 TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256 TLS_DHE_DSS_WITH_AES_128_CBC_SHA256 TLS_DHE_DSS_WITH_AES_256_CBC_SHA256 TLS_RSA_WITH_AES_256_CBC_SHA256 TLS_DHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384 TLS_RSA_WITH_AES_256_GCM_SHA384 TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
PRIVKEYSTORE_PASSWORD: 123456
PRIVKEYSTORE: src/main/java/test/serverStore/keystore.jks
TRUSTSTORE: src/main/java/test/serverStore/truststore.jks